/* Breakpoints */
$breakpoints: (
  'small': (max-width: 800px),
  'medium': (max-width: 1280px),
  'large': (max-width: 1600px),
  'short': (max-height: 700px),
  'tall': (min-height: 800px)
);

$yellow: rgb(255, 237, 0);
$shadow: rgba(0, 0, 0, 0.16) 0px 8px 10px 1px;
$shadow-inverted: rgba(255, 255, 255, 0.32) 0px 0px 10px 4px;